.navbar-brand{
  margin-right: 52vw;
}
.nav-item{
  margin-left: 12px;
  padding-left: 12px;
  margin-bottom: 0;
  color: white;
  border-left: 1px solid white;
}

nav span{
  color: white;
}

nav span:hover{
  color: rgb(0, 0, 0);
}


.articles{  
  margin: 4vh 2vw 2vh 0;
  color: white;
  background-color: grey;
  border: 1px solid white;
}

.articles:hover{
  border-color: aquamarine;
  background-color: rgb(41, 40, 40);
}


.posted {
  background-color: grey;
  padding-top: 7vh;
  padding-bottom: 5vh; 
  position: "fixed";
  overflow-y: scroll;
}

.recent{
  margin: 4vh 2vw 2vh 0;
  border-bottom: 1px solid grey;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.recent:hover{
  border-left: 8px solid lightseagreen;
  box-shadow: 5px 10px rgb(167, 164, 164);
  border-radius: 12px;
}

.heading{
  padding-top: 7vh;
  padding-bottom: 4vh;
}

.backcolor{
  background-color: white;
}

.mainheader{
  border-bottom: 1px solid; 
  margin-bottom: 4vh;
}


footer{
  margin-top: auto;
  height: 20vh; 
  background-color: rgb(12, 11, 11);
}

.content{
  margin-top: 4vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profileheader{
  min-height:30vh; 
  min-width: 100vw; 
  background-color: lightblue;
  padding: 2vh;
  margin-bottom: 3vh;
}

.addArticleheader{
  min-height:20vh; 
  min-width: 100vw;
  color: aliceblue; 
  background-color: rgb(6, 53, 68);
  padding: 2vh;
  margin-bottom: 3vh;
}
.articleimage{
  max-width: 100%;
  max-height: 15vh;
}
.user{
  max-width: 100%;
  max-height: 15vh;
  border-radius: 50%;
}

.searchHeading{
  padding: 2vh 3vw 2vh 2vw;
  border: 2px solid grey;
}

.userDetail{
  margin-bottom: 4vh;
  border-bottom: 1px solid grey;
}

.specificArticleimage{
  max-width: 100%;
  max-height: 55vh;
}

